h1 {

  font-family:'Times New Roman', Times, serif;

}

h2 {

  color: rgb(17, 17, 89);
}

i {

  color:  rgb(9, 84, 34);

  font-size: 50px;
}

div {
  display: block;

}

body {

  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;

}


.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */

}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}


.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}


img {
  overflow-clip-margin: content-box;
  overflow: clip;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}


p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}



div.grammarly-desktop-integration {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
}

div.grammarly-desktop-integration:before {
  content: attr(data-content);
}

body {
  display: block;
  margin: 8px;
}

body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}


#introduction p {
  margin-bottom: 40px;
}
